@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #84934A;
  --color-accent: #492828;
  --color-bg-light: #f5f5f5;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
};

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #2c2b2b;
  }
}

body {
  background: var(--color-bg-light);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
